extends layout

block content
  .main.container
    .row.vertical-align
      .col-md-6.offset-md-3
        br
        h1.display-5.m-b-2 Dopisz się do wniosku 1/3
        .my-jumbotron
          form(method='POST' action='/first_add')            
            div.form-group(class= courseCodeNotValid != null ? "has-danger":"")
              label(for='courseCode') Kod przedmiotu:
              input#name.form-control.form-control-danger(type='text',  name='courseCode' required value=session?session.courseCode:"")
              if(courseCodeNotValid)
                p.form-control-feedback=courseCodeNotValid.msg
            div.form-group
              label(for='courseName') Nazwa kursu:
              input#name.form-control(type='text', name='courseName' required value=session?session.courseName:"")
              
            div.form-groups
              -var i=1;
              label(for='courseECTS') Punkty ECTS:
              select#name.form-control(name="courseECTS" )
                while i<21
                  if(session && session.courseECTS==i)
                    option(value=i selected)=i++
                  else
                    option(value=i)=i++
            div.form-group
              label(for='courseKind') Rodzaj kursu:
              select#name.form-control(name="courseKind")
                if(courseKinds)
                  each item in courseKinds
                    if(session && session.courseKind==item.nazwaRodzajuKursu)
                      option(selected)=item.nazwaRodzajuKursu
                    else
                      option=item.nazwaRodzajuKursu
                    
            div.form-group
              -var j=2018;  /*current year */
              -var before;
              -var after;
              label(for='courseYear') Rok akademicki:
              select#name.form-control(name='courseYear')
                while j>2000
                  if(session && session.courseYear==j)
                    option(value=j selected)=j-1+'/'+j--
                  else
                    option(value=j)=j-1+'/'+j--
                  
            div.form-group
              label(for='courseSemester') Semestr:
              select#name.form-control(name="courseSemester")
                if(courseSemesters)
                  each item in courseSemesters
                    if(session && session.courseSemester==item.nazwaSemestru)
                      option(selected)=item.nazwaSemestru
                    else
                      option=item.nazwaSemestru
                    
            div.invisible
              input(type='submit' id='submit-form-1')
  
    
      .col.col-md-2.offset-1
        label(for='submit-form-1').next-button
  script.
    document.onreadystatechange = () => {
      if (document.readyState === 'complete') {
        $("input").focus(function(){
          var $x = $(document.activeElement);
          $x.closest("div").removeClass("has-danger");
          $x.closest("div").children(".form-control-feedback").css("display", "none");
        });
      }
    };
