extends layout

block content
  .main.container
    .row.vertical-align
      .col.col-md-2
        p.prev-button(onClick="goBack()")
        
      .col-md-8
        br
        h1.display-5.m-b-2 Utwórz nowy wniosek 3/3
        .row.my-jumbotron
          .col-md-8
            form(method='POST')
              div.form-group(class = buildingNameNotValid != null ? "has-danger":"")
                label(for='building') Budynek politechniki:
                input.form-control.form-control-danger(type='text' placeholder='D2' name="building" id="building" value=session?session.building:"")
                if(buildingNameNotValid)
                  p.form-control-feedback=buildingNameNotValid.msg
              div.form-group(class = classroomNameNotValid != null ? "has-danger":"")
                label(for='classroom') Numer sali:
                input.form-control.form-control-danger(type='text', placeholder='127a' name="classroom" id="classroom" value=session?session.classroom:"")
                if(classroomNameNotValid)
                  p.form-control-feedback=classroomNameNotValid.msg
              div.form-group
                label(for='classesDay') Dzień odbywania się zajęć:
                select#name.form-control(name="classesDay")
                  if(days)
                    each item in days
                      if(session && session.classesDay == item.nazwaDniaTyg)
                        option(selected)=item.nazwaDniaTyg
                      else
                        option=item.nazwaDniaTyg
              div.form-group
                label(for='classesWeek') Parzystość tygodnia:
                select#name.form-control(name="classesWeek")
                  if(week)
                    each item in week
                      if(session && session.classesWeek == item.nazwaParzystosciTyg)
                        option(selected)=item.nazwaParzystosciTyg
                      else
                        option=item.nazwaParzystosciTyg     
              input(type='submit' id='submit-form').invisible
          
      .col.col-md-2
        label(for='submit-form').next-button
